body {
  font-family: "helvetica neue", sans-serif;
  padding: 8px;
  background: url(../img/mountain.png);
  //background-color: grey;//#F7DCB4;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

#quote {
  margin-top: 10%;
}

h4 {
  color: #0520a8;
}

.link {
  list-style-type: none;
  margin: 30%;
  cursor: pointer-events;
  }

.selfie {
  img{
    border-radius: 100px;
  }
}

#technologies {
  h1 {
    color: black;//#0520a8;
  }
}

.techIcon {
  margin: 10px;
}

#contact {
  margin-top: 30%;
}

// Pageslide styles
// #navBar {
//   background-color: #ba9077;
//   color: black;
// }

#taskNav, #shopNav, #closeNav {
  color: #1d2120;
} 

#navBtn {
  padding-left: 10px;
  color: black
}

html {
    overflow-x: hidden;
}
.ng-pageslide {
    background: #bcd5d1;
    opacity: 0.95;
}
body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgb(0,0,0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 1s;
}
body.ng-pageslide-body-closed::before {
  transition: opacity 1s;
  opacity: 0;
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: rgb(0,0,0);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}