<div class="flex-container">
   <div class='row padding' id="contact">
      <div class="col-lg-8 col-lg-offset-2 center">
        <div class="col-lg-3 col-sm-3 col-xs-3">
          <a href="https://github.com/rick8s" target="_blank"> <i class="fa fa-github fa-4x"></i>
          </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
          <a href="mailto:rickaites@gmail.com"> <i class="fa fa-envelope fa-4x"></i>
          </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
          <a href="https://www.linkedin.com/in/richardaites" target="_blank"> <i class="fa fa-linkedin-square fa-4x"></i>
          </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
          <a href="https://twitter.com/Rick8s" target="_blank"> <i class="fa fa-twitter fa-4x"></i>
          </a>
        </div>
        </div>
      </div>
    </div>
</div>