<div class="flex-container">
  <div id="portfolio" class="col-md-12 col-lg-12 padding">
    <div class="row">
      <div class= "col-md-12">
        <label><h3>The Toolshed:</h3></label></br>
        <p>Back end capstone built in Visual Studio Asp.Net MVC and C#.</br>
        <p>Tool sharing app where users can loan tools amongst themselves.</br>
        <a href="https://github.com/rick8s/toolshedApp" target="_blank"><img ng-src="{{toolImgSrc}}" alt="toolshedApp" /></a>
        <label><h3>8s Family Calendar:</h3></label></br>
        <p>Front end capstone using jQuery FullCalendar plugin, AngularJS, and Firebase.</br>
        <p>Includes displaying events and participants as well as a todo and shopping lists.</br>
        <a href="https://8sfamily-calendar.firebaseapp.com/#/" target="_blank"><img ng-src="{{calImgSrc}}" alt="8s Calendar" /></a>  
      </div>
    </div>     
  </div>
</div>