<div class="flex-container">
  <div id="portfolio" class="col-md-12 col-lg-12 padding">
    <div class="row">
      <div class= "col-md-12">
        <label><h2>The Toolshed:</h2> MVC C# capstone.</label></br>
        <a href="https://8sfamily-calendar.firebaseapp.com/#/" target="_blank"><img ng-src="{{calImgSrc}}" alt="8s Calendar" /></a>
        <label><h2>8s Family Calendar:</h2> Front end capstone.</label></br>
        <a href="https://8sfamily-calendar.firebaseapp.com/#/" target="_blank"><img ng-src="{{calImgSrc}}" alt="8s Calendar" /></a>  
      </div>
    </div>     
  </div>
</div>