<div class="flex-container">
  <div class= "row" id="profile" >
    <div class= "col-md-12">

      <p>The road to software development has been a long and circuitous journey for me. Following an enlistment in the U.S. Navy, I worked for General Motors for thirty years. It wasn't until more recently that I became interested in software as a career. </p>

      <p>While volunteering on the board of East Williamson Athletic Association I decided to take a class in web development because we needed a new website. Building the EWA site led to building several additional sites including a youth travel baseball team, a small consignment business - Rocking Horse Consignments - and a site for Fairways of Spencer Creek, a golf course in Franklin. While these sites utilized some of the more basic technologies, they did serve to inspire me to want to learn more.</p>

      <p>In 2009 I returned to school and earned a Bachelor of Science in Computer Information Systems. It was at this time that I decided I would pursue a new career in software. In 2015 I left General Motors and a week later began the next chapter in my life at Nashville Software School. Here, I have been provided the foundational tools to pursue a career in software development. I have thoroughly enjoyed this challenging environment, and I am now looking forward to the continual development of my skills in the workforce.</p>

      <p>Married with two children, I have lived in the Nashville area for the past twenty-six years and currently reside in Franklin, Tn. 

    </div>
  </div>
</div>