<div class="flex-container">
  <div id="technologies" class="col-md-12 col-lg-12 padding">
    <div class="row">
      <h1 class="main-header header-margins center">Technologies</h1>
      <div class="col-lg-6 col-lg-offset-4"></div>
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/html5IMG.png">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/angularjs.png">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/bootstrap.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/csharp.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/css3.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/grunt.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/javascript.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/jquery.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/sass.svg">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/githublogo.png">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/sql.png">
    </div>
    <div class="col-sm-3 col-xs-4">
      <img class="techIcon" src="../img/visualstudio.svg">
    </div>
  </div>
</div>



